*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.boxone{
    border: 5px dotted red;
    width: 50%;
    height: 500px;
    background-color: aqua;
    margin: 0 auto;
    padding: 40px;
}

div.boxino{
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: yellow;
}

div.secondo-boxino{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background-color: yellow;
}